html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --pro-layout-height: 100%;
}

// 设置curd弹窗的 提交按钮放置位置
$menu-alignments: (
  '': flex-end,
  '.menu-center': center,
  '.menu-left': flex-start,
  '.menu-between': space-between,
);

@each $modifier, $justify in $menu-alignments {
  .pro-form#{$modifier} {
    .pro-form-menu .el-form-item__content {
      display: flex;
      justify-content: $justify;
    }
  }
}

// 去掉没有内容按钮内部文本元素的margin
.el-button > span:empty {
  // margin-left: 0 !important;
  display: none; /* 彻底移除空标签占位 */
}
